name: Build Desktop
on:
  workflow_dispatch:
    inputs:
      version:
        description: Tag of the version to build
        default: '1.0.0'
        required: true
#      repository:
#        description: Repository to checkout
#        required: false
#        default: "hoppscotch/hoppscotch"
#      branch:
#        description: Branch to checkout
#        required: true
#        default: "main"
#      tag:
#        description: Tag to checkout (takes precedence over branch if provided)
#        required: false
#        default: ""
#      release_notes:
#        description: Release notes for the update
#        required: false
#        default: "PLACEHOLDER RELEASE NOTES"
      build_linux:
        description: Build for Linux
        type: boolean
        required: false
        default: true
      build_windows:
        description: Build for Windows
        type: boolean
        required: false
        default: true
      build_macos_x64:
        description: Build for macOS x64
        type: boolean
        required: false
        default: true
      build_macos_arm64:
        description: Build for macOS ARM64
        type: boolean
        required: false
        default: true
env:
  CARGO_TERM_COLOR: always
  WORKSPACE_PATH: ${{ github.workspace }}
  WEB_PATH: ${{ github.workspace }}/packages/hoppscotch-selfhost-web
  DESKTOP_PATH: ${{ github.workspace }}/packages/hoppscotch-desktop
  BUNDLER_PATH: ${{ github.workspace }}/packages/hoppscotch-desktop/crates/webapp-bundler
jobs:
  build-linux:
    runs-on: ubuntu-24.04
    if: ${{ inputs.build_linux }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install additional tools
        run: |
          curl -LO "https://github.com/tauri-apps/tauri/releases/download/tauri-cli-v2.2.0/cargo-tauri-x86_64-unknown-linux-gnu.tgz"
          tar -xzf cargo-tauri-x86_64-unknown-linux-gnu.tgz
          chmod +x cargo-tauri
          sudo mv cargo-tauri /usr/local/bin/tauri
      - name: Install system dependencies
        run: |
          sudo apt update;
          sudo apt install -y \
            build-essential \
            curl \
            wget \
            file \
            libssl-dev \
            libgtk-3-dev \
            libappindicator3-dev \
            librsvg2-dev;

          sudo apt install -y \
            libwebkit2gtk-4.1-0=2.44.0-2 \
            libwebkit2gtk-4.1-dev=2.44.0-2 \
            libjavascriptcoregtk-4.1-0=2.44.0-2 \
            libjavascriptcoregtk-4.1-dev=2.44.0-2 \
            gir1.2-javascriptcoregtk-4.1=2.44.0-2 \
            gir1.2-webkit2-4.1=2.44.0-2;
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Setup environment
        run: |
          if [ ! -z "${{ secrets.ENV_FILE_CONTENT }}" ]; then
            echo "${{ secrets.ENV_FILE_CONTENT }}" > ${{ env.WORKSPACE_PATH }}/.env
            echo "Created .env file from repository secret"
          elif [ -f "${{ env.WORKSPACE_PATH }}/.env" ]; then
            echo "Using existing .env file found in repository"
          else
            cp ${{ env.WORKSPACE_PATH }}/.env.example ${{ env.WORKSPACE_PATH }}/.env
            echo "No .env found, copied from .env.example template"
          fi
          pnpm install --dir ${{ env.DESKTOP_PATH }}
      - name: Build web app
        run: |
          pnpm install --dir ${{ env.WEB_PATH }}
          pnpm --dir ${{ env.WEB_PATH }} generate
      - name: Bundle web app
        run: |
          cargo build --release --manifest-path ${{ env.BUNDLER_PATH }}/Cargo.toml
          ${{ env.BUNDLER_PATH }}/target/release/webapp-bundler \
            --input ${{ env.WEB_PATH }}/dist \
            --output ${{ env.DESKTOP_PATH }}/bundle.zip \
            --manifest ${{ env.DESKTOP_PATH }}/manifest.json
      - name: Build AppImage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_LOG: debug
        run: pnpm --dir ${{ env.DESKTOP_PATH }} tauri build --verbose -b appimage
      - name: Build DEB
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_LOG: debug
        run: pnpm --dir ${{ env.DESKTOP_PATH }} tauri build --verbose -b deb
      - name: Prepare artifacts
        run: |
          ls -lahR ${{ env.DESKTOP_PATH }}/src-tauri/target/release/bundle/
          mkdir -p dist
          cp ${{ env.DESKTOP_PATH }}/src-tauri/target/release/bundle/appimage/*.AppImage dist/Hoppscotch_SelfHost_linux_x64.AppImage
          cp ${{ env.DESKTOP_PATH }}/src-tauri/target/release/bundle/deb/*.deb dist/Hoppscotch_SelfHost_linux_x64.deb
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: selfhost-desktop-linux
          path: dist/*
  build-windows:
    runs-on: windows-latest
    if: ${{ inputs.build_windows }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Perl environment variables
        shell: pwsh
        run: |
          echo "PERL=$((where.exe perl)[0])" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding utf8
          echo "OPENSSL_SRC_PERL=$((where.exe perl)[0])" | Out-File -FilePath $env:GITHUB_ENV -Append -Encoding utf8
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Setup environment
        shell: pwsh
        run: |
          if ("${{ secrets.ENV_FILE_CONTENT }}" -ne "") {
            "${{ secrets.ENV_FILE_CONTENT }}" | Out-File -FilePath ${{ env.WORKSPACE_PATH }}\.env -Encoding utf8
            Write-Host "Created .env file from repository secret"
          } elseif (Test-Path -Path "${{ env.WORKSPACE_PATH }}\.env") {
            Write-Host "Using existing .env file found in repository"
          } else {
            Copy-Item ${{ env.WORKSPACE_PATH }}\.env.example ${{ env.WORKSPACE_PATH }}\.env
            Write-Host "No .env found, copied from .env.example template"
          }
          pnpm install -f --shamefully-hoist --ignore-scripts
          pnpm --filter hoppscotch-backend exec prisma generate
          pnpm install -f --shamefully-hoist --dir ${{ env.DESKTOP_PATH }}
      - name: Build web app
        shell: pwsh
        run: |
          pnpm install --dir ${{ env.WEB_PATH }}
          pnpm --dir ${{ env.WEB_PATH }} generate
      - name: Bundle web app
        shell: pwsh
        run: |
          cargo build --release --manifest-path ${{ env.BUNDLER_PATH }}\Cargo.toml
          ${{ env.BUNDLER_PATH }}\target\release\webapp-bundler.exe `
            --input ${{ env.WEB_PATH }}\dist `
            --output ${{ env.DESKTOP_PATH }}\bundle.zip `
            --manifest ${{ env.DESKTOP_PATH }}\manifest.json
      - name: Build Tauri app
        shell: powershell
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_LOG: debug
        run: pnpm --dir ${{ env.DESKTOP_PATH }} tauri build --verbose -b msi
      - name: Prepare artifacts
        shell: pwsh
        run: |
          Get-ChildItem -Recurse ${{ env.DESKTOP_PATH }}\src-tauri\target\release\bundle
          mkdir dist
          Copy-Item ${{ env.DESKTOP_PATH }}\src-tauri\target\release\bundle\msi\*_x64_en-US.msi dist\Hoppscotch_SelfHost_win_x64.msi
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: selfhost-desktop-windows
          path: dist/*
  build-macos-x64:
    runs-on: macos-latest
    if: ${{ inputs.build_macos_x64 }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install Rust target
        run: rustup target add x86_64-apple-darwin
      - name: Install additional tools
        run: |
          mkdir __dist/
          cd __dist/
          curl -LO "https://github.com/tauri-apps/tauri/releases/download/tauri-cli-v2.2.0/cargo-tauri-x86_64-apple-darwin.zip"
          unzip cargo-tauri-x86_64-apple-darwin.zip
          chmod +x cargo-tauri
          sudo mv cargo-tauri /usr/local/bin/tauri
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-x86_64-${{ hashFiles('**/Cargo.lock') }}
      - name: Setup environment
        run: |
          if [ ! -z "${{ secrets.ENV_FILE_CONTENT }}" ]; then
            echo "${{ secrets.ENV_FILE_CONTENT }}" > ${{ env.WORKSPACE_PATH }}/.env
            echo "Created .env file from repository secret"
          elif [ -f "${{ env.WORKSPACE_PATH }}/.env" ]; then
            echo "Using existing .env file found in repository"
          else
            cp ${{ env.WORKSPACE_PATH }}/.env.example ${{ env.WORKSPACE_PATH }}/.env
            echo "No .env found, copied from .env.example template"
          fi
          pnpm install --dir ${{ env.DESKTOP_PATH }}
      - name: Build web app
        run: |
          pnpm install --dir ${{ env.WEB_PATH }}
          pnpm --dir ${{ env.WEB_PATH }} generate
      - name: Bundle web app
        run: |
          cargo build --release --manifest-path ${{ env.BUNDLER_PATH }}/Cargo.toml
          ${{ env.BUNDLER_PATH }}/target/release/webapp-bundler \
            --input ${{ env.WEB_PATH }}/dist \
            --output ${{ env.DESKTOP_PATH }}/bundle.zip \
            --manifest ${{ env.DESKTOP_PATH }}/manifest.json
      - name: Build Tauri app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_LOG: debug
        run: pnpm --dir ${{ env.DESKTOP_PATH }} tauri build --verbose --target x86_64-apple-darwin
      - name: Prepare artifacts
        run: |
          ls -lahR ${{ env.DESKTOP_PATH }}/src-tauri/target/x86_64-apple-darwin/release/bundle/
          mkdir -p dist
          cp ${{ env.DESKTOP_PATH }}/src-tauri/target/x86_64-apple-darwin/release/bundle/dmg/*.dmg dist/Hoppscotch_SelfHost_mac_x64.dmg
          cp ${{ env.DESKTOP_PATH }}/src-tauri/target/x86_64-apple-darwin/release/bundle/macos/Hoppscotch.app.tar.gz dist/Hoppscotch_SelfHost_mac_x64.tar.gz
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: selfhost-desktop-macos-x64
          path: dist/*
  build-macos-arm64:
    runs-on: macos-latest
    if: ${{ inputs.build_macos_arm64 }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install Rust target
        run: rustup target add aarch64-apple-darwin
      - name: Install additional tools
        run: |
          mkdir __dist/
          cd __dist/
          curl -LO "https://github.com/tauri-apps/tauri/releases/download/tauri-cli-v2.2.0/cargo-tauri-aarch64-apple-darwin.zip"
          unzip cargo-tauri-aarch64-apple-darwin.zip
          chmod +x cargo-tauri
          sudo mv cargo-tauri /usr/local/bin/tauri
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-aarch64-${{ hashFiles('**/Cargo.lock') }}
      - name: Setup environment
        run: |
          if [ ! -z "${{ secrets.ENV_FILE_CONTENT }}" ]; then
            echo "${{ secrets.ENV_FILE_CONTENT }}" > ${{ env.WORKSPACE_PATH }}/.env
            echo "Created .env file from repository secret"
          elif [ -f "${{ env.WORKSPACE_PATH }}/.env" ]; then
            echo "Using existing .env file found in repository"
          else
            cp ${{ env.WORKSPACE_PATH }}/.env.example ${{ env.WORKSPACE_PATH }}/.env
            echo "No .env found, copied from .env.example template"
          fi
          pnpm install --dir ${{ env.DESKTOP_PATH }}
      - name: Build web app
        run: |
          pnpm install --dir ${{ env.WEB_PATH }}
          pnpm --dir ${{ env.WEB_PATH }} generate
      - name: Bundle web app
        run: |
          cargo build --release --manifest-path ${{ env.BUNDLER_PATH }}/Cargo.toml
          ${{ env.BUNDLER_PATH }}/target/release/webapp-bundler \
            --input ${{ env.WEB_PATH }}/dist \
            --output ${{ env.DESKTOP_PATH }}/bundle.zip \
            --manifest ${{ env.DESKTOP_PATH }}/manifest.json
      - name: Build Tauri app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUST_LOG: debug
        run: pnpm --dir ${{ env.DESKTOP_PATH }} tauri build --verbose --target aarch64-apple-darwin
      - name: Prepare artifacts
        run: |
          ls -lahR ${{ env.DESKTOP_PATH }}/src-tauri/target/aarch64-apple-darwin/release/bundle/
          mkdir -p dist
          cp ${{ env.DESKTOP_PATH }}/src-tauri/target/aarch64-apple-darwin/release/bundle/dmg/*.dmg dist/Hoppscotch_SelfHost_mac_aarch64.dmg
          cp ${{ env.DESKTOP_PATH }}/src-tauri/target/aarch64-apple-darwin/release/bundle/macos/Hoppscotch.app.tar.gz dist/Hoppscotch_SelfHost_mac_aarch64.tar.gz
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: selfhost-desktop-macos-aarch64
          path: dist/*
