name: Build Agent
on:
  workflow_dispatch:
    inputs:
      version:
        description: Tag of the version to build
        default: '1.0.0'
        required: true
      build_macos_x64:
        description: Build for macOS x64
        type: boolean
        required: false
        default: true
      build_macos_arm64:
        description: Build for macOS ARM64
        type: boolean
        required: false
        default: true
      build_linux_deb:
        description: Build Linux DEB package
        type: boolean
        required: false
        default: true
      build_linux_appimage:
        description: Build Linux AppImage
        type: boolean
        required: false
        default: true
      build_windows_installer:
        description: Build Windows MSI installer
        type: boolean
        required: false
        default: true
      build_windows_portable:
        description: Build Windows portable executable
        type: boolean
        required: false
        default: true
env:
  CARGO_TERM_COLOR: always
jobs:
  build-macos-x86_64:
    name: Build MacOS x86_64 (.dmg)
    runs-on: macos-latest
    if: ${{ inputs.build_macos_x64 }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install Rust target
        run: rustup target add x86_64-apple-darwin
      - name: Install additional tools
        run: |
          mkdir __dist/
          cd __dist/
          curl -LO "https://github.com/tauri-apps/tauri/releases/download/tauri-cli-v2.0.1/cargo-tauri-x86_64-apple-darwin.zip"
          unzip cargo-tauri-x86_64-apple-darwin.zip
          chmod +x cargo-tauri
          sudo mv cargo-tauri /usr/local/bin/tauri
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-x86-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        run: |
          cd packages/hoppscotch-agent
          pnpm install --filter hoppscotch-agent
      - name: Build Tauri app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd packages/hoppscotch-agent
          echo "Starting x86_64 build..."
          pnpm tauri build --verbose --target x86_64-apple-darwin
          echo "Build completed"
      - name: Prepare artifacts
        run: |
          mkdir artifacts
          mv packages/hoppscotch-agent/src-tauri/target/x86_64-apple-darwin/release/bundle/dmg/*_x64.dmg artifacts/Hoppscotch_Agent_mac_x64.dmg
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Hoppscotch_Agent-macos-x86_64
          path: artifacts/*
  build-macos-aarch64:
    name: Build MacOS ARM64 (.dmg)
    runs-on: macos-latest
    if: ${{ inputs.build_macos_arm64 }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install Rust target
        run: rustup target add aarch64-apple-darwin
      - name: Install additional tools
        run: |
          mkdir __dist/
          cd __dist/
          curl -LO "https://github.com/tauri-apps/tauri/releases/download/tauri-cli-v2.0.1/cargo-tauri-aarch64-apple-darwin.zip"
          unzip cargo-tauri-aarch64-apple-darwin.zip
          chmod +x cargo-tauri
          sudo mv cargo-tauri /usr/local/bin/tauri
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-arm-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        run: |
          cd packages/hoppscotch-agent
          pnpm install --filter hoppscotch-agent
      - name: Build Tauri app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd packages/hoppscotch-agent
          echo "Starting ARM64 build..."
          pnpm tauri build --verbose --target aarch64-apple-darwin
          echo "Build completed"
      - name: Prepare artifacts
        run: |
          mkdir artifacts
          mv packages/hoppscotch-agent/src-tauri/target/aarch64-apple-darwin/release/bundle/dmg/*_aarch64.dmg artifacts/Hoppscotch_Agent_mac_aarch64.dmg
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Hoppscotch_Agent-macos-arm64
          path: artifacts/*
  build-linux-deb:
    name: Build Linux x86_64 (.deb)
    runs-on: ubuntu-22.04
    if: ${{ inputs.build_linux_deb }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev \
              build-essential \
              curl \
              wget \
              file \
              libxdo-dev \
              libssl-dev \
              libayatana-appindicator3-dev \
              librsvg2-dev
      - name: Install additional tools
        run: |
          curl -LO "https://github.com/tauri-apps/tauri/releases/download/tauri-cli-v2.0.1/cargo-tauri-x86_64-unknown-linux-gnu.tgz"
          tar -xzf cargo-tauri-x86_64-unknown-linux-gnu.tgz
          chmod +x cargo-tauri
          sudo mv cargo-tauri /usr/local/bin/tauri

          curl -LO "https://github.com/thedodd/trunk/releases/download/v0.17.5/trunk-x86_64-unknown-linux-gnu.tar.gz"
          tar -xzf trunk-x86_64-unknown-linux-gnu.tar.gz
          chmod +x trunk
          sudo mv trunk /usr/local/bin/
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        run: |
          cd packages/hoppscotch-agent
          pnpm install --filter hoppscotch-agent
      - name: Build Tauri app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd packages/hoppscotch-agent
          pnpm tauri build --verbose -b deb
      - name: Prepare artifacts
        run: |
          mkdir artifacts
          mv packages/hoppscotch-agent/src-tauri/target/release/bundle/deb/*.deb artifacts/Hoppscotch_Agent_linux_x64.deb
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Hoppscotch_Agent-linux-deb
          path: artifacts/*
  build-linux-appimage:
    name: Build Linux x86_64 (.AppImage)
    runs-on: ubuntu-22.04
    if: ${{ inputs.build_linux_appimage }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev \
              build-essential \
              curl \
              wget \
              file \
              libxdo-dev \
              libssl-dev \
              libayatana-appindicator3-dev \
              librsvg2-dev
      - name: Install additional tools
        run: |
          curl -LO "https://github.com/tauri-apps/tauri/releases/download/tauri-cli-v2.0.1/cargo-tauri-x86_64-unknown-linux-gnu.tgz"
          tar -xzf cargo-tauri-x86_64-unknown-linux-gnu.tgz
          chmod +x cargo-tauri
          sudo mv cargo-tauri /usr/local/bin/tauri

          curl -LO "https://github.com/thedodd/trunk/releases/download/v0.17.5/trunk-x86_64-unknown-linux-gnu.tar.gz"
          tar -xzf trunk-x86_64-unknown-linux-gnu.tar.gz
          chmod +x trunk
          sudo mv trunk /usr/local/bin/
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        run: |
          cd packages/hoppscotch-agent
          pnpm install --filter hoppscotch-agent
      - name: Build Tauri app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd packages/hoppscotch-agent
          pnpm tauri build --verbose -b appimage
      - name: Prepare artifacts
        run: |
          mkdir artifacts
          mv packages/hoppscotch-agent/src-tauri/target/release/bundle/appimage/*.AppImage artifacts/Hoppscotch_Agent_linux_x64.AppImage
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Hoppscotch_Agent-linux-appimage
          path: artifacts/*
  build-windows-installer:
    name: Build Windows x86_64 (.msi)
    runs-on: windows-latest
    if: ${{ inputs.build_windows_installer }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        shell: bash
        run: |
          cd packages/hoppscotch-agent
          pnpm install --filter hoppscotch-agent
      - name: Build Tauri app
        shell: powershell
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd packages/hoppscotch-agent
          pnpm tauri build --verbose -b msi
      - name: Prepare artifacts
        shell: bash
        run: |
          mkdir artifacts
          mv packages/hoppscotch-agent/src-tauri/target/release/bundle/msi/*_x64_en-US.msi artifacts/Hoppscotch_Agent_win_x64.msi
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Hoppscotch_Agent-windows-installer
          path: artifacts/*
  build-windows-portable:
    name: Build Windows x86_64 Portable
    runs-on: windows-latest
    if: ${{ inputs.build_windows_portable }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10.15.0
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        shell: bash
        run: |
          cd packages/hoppscotch-agent
          pnpm install --filter hoppscotch-agent
      - name: Build Tauri app
        shell: powershell
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd packages/hoppscotch-agent
          pnpm tauri build --verbose --config src-tauri/tauri.portable.conf.json -- --no-default-features --features portable
      - name: Zip portable executable
        shell: powershell
        run: |
          Compress-Archive -Path "packages/hoppscotch-agent/src-tauri/target/release/hoppscotch-agent.exe" -DestinationPath "packages/hoppscotch-agent/src-tauri/target/release/Hoppscotch_Agent_win_x64_portable.zip"
      - name: Prepare artifacts
        shell: bash
        run: |
          mkdir artifacts
          mv packages/hoppscotch-agent/src-tauri/target/release/Hoppscotch_Agent_win_x64_portable.zip artifacts/Hoppscotch_Agent_win_x64_portable.zip
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Hoppscotch_Agent-windows-portable
          path: artifacts/*
